@import '../variables';

.navbar {
  padding: 20px 35px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100vw;
  font-size: 17px;

  &-nav {
    text-align: right;
    color: $light-grey;

    a {
      padding-left: 20px;
    }
  }
  &-brand {
    color: $grey;
    padding-top: 10px;

    &--thick {
        font-weight: bold;
    }
  }

  button {
    border: 0px;
    padding: 0px;
    &:focus
    {
      outline:0;
    }
  }
}

// @media only screen and (min-width: 375px) {
//   .navbar {
//     padding-right: 50px;
//   }
// }
