@import '../variables';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400');

body {
  color: $grey;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 900;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 13px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}


.p-big {
  font-size: 34px;
}

.p-medium {
  font-size: 19px;
}

.subtitle {
  color: $light-grey;
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
}

p {
  font-size: 17px;
  line-height: 1.5em;
}

i {
  font-size: 15px;
}

a {
  color: #f48942;

  &:hover {
    color: #f48942;
    text-decoration: none;
  }

}



// PHONES
@media only screen and (max-width: 425px) {
  h1 {
    font-size: 30px;
  }
  .p-big {
    font-size: 24px;
  }
  .p-medium {
    font-size: 16px;
  }
  p {
    font-size: 16px;
    line-height: 1.5em;
  }
}

.easteregg {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: $grey;
  position: relative;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg,
                    #545454,
                    #545454,
                    #545454,
                    #545454);
  animation: 0.2s shake infinite alternate;

  &:focus {
    outline:0;
  }
}

/* Safari only override */
.easteregg:not(:root:root){
  -webkit-text-fill-color: $grey;
}


.treasure {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #6dc67c;

  &:hover {
    color: #6dc67c;
  }
  &:focus {
    outline:0;
  }
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}

.nowave {
  display: inline-block;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }
  100% { transform: rotate(  0.0deg) }
}
