.content {
  position: relative;
  top: 56px;
  padding: 0 35px;
}

.landingWrap {
  position: relative;
  height: 93vh;
}

.bannerWrap {
  padding-top: 28vh;
}


//SMALL PHONES
@media only screen and (max-width: 375px) {
  .bannerWrap {
    padding-top: 20vh;
  }
}


.projectsWrap {
  padding-top: 60px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 150px;
}

.aboutMeWrap {
  margin-top: 18vh;
  height: 100vh;
}

.projectPageWrap {
  text-align: center;
  padding-top: 60px;
  max-width: 1080px;
  margin: auto;
}

.footerWrap {
    height: 45px;
    margin-top: 2rem;
    padding: 0 10px;
    text-align: center;
    background: white;
    font-size: 13px;
}
